.restaurant-switcher button {
    margin: 5px 5px;
    background-color: rgb(138, 24, 24);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 160px;
    height: 40px;

}
.restaurant-switcher button:hover{
    position: relative;
    bottom: -10px;
    
}